input , select {
    padding: 5px 20px;
    border-radius: 10px; 
}

input[type='submit'] {
    border-radius: 10px; 
    background-color: black;
    color: white;
}
table tr td:first {
    font-weight: 600;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}